@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: "Lexend", sans-serif;
  background: linear-gradient(to top, rgb(216, 157, 255), rgb(136, 53, 192));
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff2d;
  margin: 10%;
  padding: 40px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #48004bdc;
  font-size: 40px;

}

p{
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    padding: 0px;
    color: #f6d8fc;
}

input {
  padding: 10px;
  font-size: 18px;
  width: 200px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 13px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

button:hover {
  background-color: #7a008a;
}

#feedback {
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  width: 55%;
  margin-left: 20%;
}